{% extends "ka/base.html" %}

{% block content %}
    Enter url

    <form method="post" action="{% url 'ka:results' %}">
    {% csrf_token %}
        <input type="text" name="website_url">
        <input type="submit" value="Search">
    </form>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <form method="post" action="{% url 'ka:cresults' %}">
    {% csrf_token %}
        <input type="text" name="website_url2">
        <input type="submit" value="Search">
    </form>

{% endblock %}